<!--Navigate bar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark navigation">
    <a class="navbar-brand" href="staff.html"><img src="img/sage-logo.svg" alt="Sage Logo white on green"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-justified mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="staff.html">Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="timetable.html">Timetable</a>
            </li>
        </ul>
        <div class="d-flex justify-content-center justify-content-sm-end">
            <span class="text-light my-auto">Hello,</span><a class="text-light user-center-link my-auto" href="">User</a>
            <span class="btn btn-primary ml-3 logout-btn">logout</span>
        </div>
    </div>
</nav>
<!--Navigate bar end-->
