.page-content{
    background: #f8f9fa;
    padding-bottom: 0;
    padding-top: 1rem;
}
.staff-info{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.shift-info{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.card{
    height: 100%;
}
.shift-info.invalid{
    color: #adb5bd;
}

.shift-info.invalid p{
}

.navigation{
    margin-bottom: 3rem;
}
.header-buttons{
    padding-right: 1rem;
    padding-left: 1rem;
}
.pagination-row{
    padding-right: 1rem;
    padding-left: 1rem;
}
.hide-input{
    display: none;
}
.loading{
    width: 100%;
}
