.page-content{
    background: #eefaee;
    padding-bottom: 0;
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.staff-info{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.shift-info{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.card{
    height: 100%;
}
.shift-info.invalid{
    color: #adb5bd;
}

.navigation{
    margin-bottom: 2rem;
}
.header-buttons{
    padding-right: 1rem;
    padding-left: 1rem;
}
.pagination-row{
    padding-right: 1rem;
    padding-left: 1rem;
}
.hide-input{
    display: none;
}
.loading{
    width: 100%;
}
.current-shift{
    border-style: solid;
    border-color: green;
    border-width: 3px;
}
.login-bg{
    height:100vh;
    margin-right:0;
    margin-left:0;
    background-size: cover;
    background: url("../img/school-supplies-office-pens-53874.jpg") no-repeat fixed center 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.login-col{
    height: 100%;
    background: #fdfeff;
}
.login-card{
    height: 100%;
}
.text-faded{
    color: #a9b7c4;
}
